@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
footer {
    padding: 20px 40px;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #ddd;
}