/* listproduct.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.main-content {
    max-width: 80%;
    margin: 20px auto 40px auto;
    padding: 20px;
    border-radius : 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: auto;
    min-height: 100vh;
    
}

.horizontal-line {
    width: 35%;
    border-bottom: 1px solid #000;
    margin: 20px 0;
}

.horizontal-line-container {
    width: 90%;
    border-bottom: 1px solid #ddd;
    margin: 0 auto 20px auto;
}

.section {
	width : 100%;
    margin-bottom: 20px;
}

.room h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    height : auto;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.container:hover {
    transform: translateY(-5px);
}

.container:hover .hover-text{
	visibility: visible;
}

.img-box {
    width: 90%;
    height: 200px;
    overflow: hidden;
    margin: 10px auto;
    border-radius: 10px;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title, .location, .dates, .products {
    padding: 10px 15px;
}

.title a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
    font-weight: bold;
}

.title a:hover {
    text-decoration: underline;
}

.location, .dates, .products {
    color: #666;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    color: #000;
    border-radius: 4px;
}

.pagination a.active {
    background-color: #007BFF;
    color: white;
}

.pagination a:hover {
    background-color: #ddd;
    
}

.location .label{
	font-weight: bold;
}

.dates .label{
	font-weight: bold;
}

.products .label{
	font-weight: bold;
}

.hover-text{
	width : auto;
	height : auto;
	visibility: hidden;
    background-color: #f3f3f3;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    pointer-events: none;
}

.hover-text .label, .hover-text .value{
    color: #000;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
}