@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

.main-content {
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 10px;
    height : auto;
	min-height : 1000px;
}
.section {
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 10px;
    scroll-behavior: smooth;
}


.wrapper {
    width: 100%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.wrapper::-webkit-scrollbar {
    height: 10px;
}

.wrapper:hover::-webkit-scrollbar {
    height: 10px;
}

.wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    width: 380px;
    border: 1px solid transparent;
    padding: 10px;
    margin: 0 20px 0 20px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.img-box {
    width: 380px;
    height: 450px;
    border: 1px dashed rgb(255, 255, 255);
    border-radius : 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-box img {
    max-width: 300%;
    max-height: 100%;
    object-fit : cover;
}

.title, .price {
    font-size: 16px;
    margin: 5px 0;
    text-align: left;
}

.title a{
	text-decoration: none;
}

