@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    height: 100vh;
    overflow-y: auto;
}

main {
    padding: 20px;
    height: 100%;
}

.product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img-section {
    width: 100%;
    max-height : 800px;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
}

#file-upload {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.main-image {
    width: 100%;
    height: 300px;
    border: 2px dashed #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image img {
    max-width: 100%;
    max-height: 100%;
}

.sub-images {
    display: flex;
    gap: 10px;
}

.sub-image {
    width: 100px;
    height: 100px;
    border: 2px dashed #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-image img {
    max-width: 100%;
    max-height: 100%;
}


#image-preview{
	max-height: 400px;
}

.horizontal-line {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
}

.details-pricing-container {
    display: flex;
    width: 100%;
    gap: 20px;
}

.details-section {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.basic-info, .content-info {
	width : 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
}

.basic-info label{
	font-size : 20px;
	height: 70px;
	margin: 5px;
}

.basic-info input{
	width : 100%;
	height: 30px;
	font-size: 20px;
}

.content-info textarea{
	width : 100%;
	font-size: 20px;
}

.content-info label{
	font-size: 20px;
}


.pricing-section {
    width: 33%;
    height : auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pricing-section label{
	font-size : 20px;
	height: 30px;
	margin: 5px;
}

.pricing-section input{
	height: 25px;
	font-size: 20px;
}

.pricing-section select{
	height: 25px;
	font-size: 20px;
}

.vertical-line {
    border-left: 1px solid #ddd;
    margin: 0 20px;
}

.content-info{
	width: 100%;
}

.registerBtn{
	width : 100%;
	background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.registerBtn:hover {
    background-color: #0056b3;
}


